* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

footer {
  background-color: bisque;
  min-height: 70px;
  border: 1px solid black; /* Meramente durante desarrollo */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .logo {
  max-width: 50px;
  margin: 0.5rem;
} */

a {
  margin: 10px;
  text-decoration: none;
  color: black;
}
