.login-form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input {
  margin: 0.2rem;
  border-radius: 5px;
}

a {
  color: blue;
  text-decoration: underline;
}
